<div class="form-wrapper">
  <%= simple_form_for(@staff, wrapper: :horizontal_form, html: {class: 'form-horizontal'}) do |f|%>
    <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
        <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-center">
      <%= f.input :store_id, as: :select, collection: @stores.map{|store| [store.name, store.id]}, label: '所属店舗', default: @staff.store_id%>
      <%= f.input :last_name, label: '姓', required: true %>
      <%= f.input :first_name, label: '名', required: true %>
      <%= f.input :last_kana, label: 'セイ', required: true %>
      <%= f.input :first_kana, label: 'メイ', required: true %>
      <%= f.input(
        :skill_ids,
        as: :check_boxes,
        wrapper: :horizontal_collection_inline,
        collection: @skills.map{|skill| [skill.name, skill.id]},
        label: '保有スキル',
        checked: @staff_skills.present? ? @staff_skills.map{|item| item.skill_id} : [],
        include_hidden: false
      ) %>
      <%= f.input :employment_type, as: :select, label: '雇用区分', collection: Settings.employment_type.map.with_index{|name, id| [name, id]}, default: @staff.employment_type%>
      <% if request.path_info != new_staff_path || current_staff.role_id == 1%>
        <%= f.input :role_id, as: :select, collection: @roles.map{|role| [role.name, role.id]}, label: 'システム利用権限', default: 0%>
      <%end%>
      <%= f.input :login, label: "ログインID", required: true %>
      <%= f.input :password, label: "パスワード", required: @staff.new_record? %>
      <div>
        <%= f.button :submit, class: 'btn btn-primary'%>
        <%= link_to '戻る', staffs_path, class: 'btn btn-light' %>
      <% if request.path_info != new_staff_path %>
        <%=check_box_tag :is_delete %><%=label_tag :is_delete, "削除"%>
      <%end%>
      </div>
    </div>
  <% end %>
</div>