<% breadcrumb :root %>
<div id="staff_new">
    <h1>基本情報</h1>
    <%= form_with url: '/staff' do |form| %>
    <table>
        <tbody>
        <tr>
            <th scope="row">所属店舗</th>
            <td><%= select_tag :store_id, options_for_select(@stores.map{|store| [store.name, store.id]}), class: "form-control" %></td>
        </tr>
        <tr>
            <th scope="row">氏名（姓）</th>
            <td><%= text_field_tag :last_name, "", class: "form-control"%></td>
        </tr>
        <tr>
            <th scope="row">氏名（名）</th>
            <td><%= text_field_tag :first_name, "", class: "form-control"%></td>
        </tr>
        <tr>
            <th scope="row">氏名（カナ）（姓）</th>
            <td><%= text_field_tag :last_kana, "",  class: "form-control"%></td>
        </tr>
        <tr>
            <th scope="row">氏名（カナ）（名）</th>
            <td><%= text_field_tag :first_kana, "",  class: "form-control"%></td>
        </tr>
        <tr>
            <th scope="row">保有スキル</th>
            <td><%= form.collection_check_boxes(:skill_ids, @skills, :id, :name, include_hidden: false) %>
        </tr>
        <tr>
            <th>雇用区分</th>
            <td><%= select_tag :employee_type, options_for_select([["正社員", 0], ["契約社員", 1], ["パート、アルバイト", 2]]), class: "form-control"%></td>
        </tr>
        <tr>
            <th>システム利用権限</th>
        <td><%= select_tag :role_id, options_for_select(@roles.collect{|role| [role.name, role.id]}), class: "form-control"%></td>
        </tr>
        </tbody>
    </table>
    <%=submit_tag "登録", {class: "btn btn-success btn-lg btn-create"}%>
    <% end %>
    <%= link_to '戻る', staffs_path %>
</div>
