<div class="form-wrapper">
  <%= simple_form_for(@customer, wrapper: :horizontal_form, html: { class: 'form-horizontal', autocomplete: 'off' }) do |f|%>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-center">
      <% if @customer.persisted? %>
        <%= f.input :id, label: '顧客ID', readonly: true %>
      <%end%>
      <%= f.input :last_name, label: '姓', required: true %>
      <%= f.input :first_name, label: '名', required: true %>
      <%= f.input :last_kana, label: 'セイ', required: true %>
      <%= f.input :first_kana, label: 'メイ', required: true %>
      <%# webからの登録の場合、電話番号が存在しない可能性があるため、新規登録の場合のみ必須にする %>
      <%= f.input :tel, label: '電話番号', required: @customer.new_record? %>
      <%= f.input :fixed_line_tel, label: '固定電話番号' %>
      <%= f.input(
        :email,
        label: 'メールアドレス',
        readonly: @customer.persisted? && !current_staff.role.admin?,
        hint: current_staff.role.admin? ? '' : 'システム管理者のみ変更可能です'
      ) %>
      <%= f.input(
        :can_receive_mail,
        as: :radio_buttons,
        wrapper: :horizontal_collection_inline,
        collection: { "受け取る" => true, "受け取らない" => false },
        label: 'メール受け取り',
        checked: @customer.can_receive_mail
      ) %>
      <%= f.input(
        :first_visit_store_id,
        as: :select,
        collection: @stores.map{|store| [store.name, store.id] },
        label: '初回ご来店店舗',
        default: @customer.first_visit_store_id,
        include_blank: true
      )%>
      <%= f.input(
        :first_visited_at,
        wrapper: :horizontal_multi_select,
        label: '初回ご来店日',
        include_blank: true
      ) %>
      <%= f.input(
        :last_visit_store_id,
        as: :select,
        collection: @stores.map{|store| [store.name, store.id]},
        label: '直近ご来店店舗',
        default: @customer.last_visit_store_id,
        include_blank: true
      ) %>
      <%= f.input :comment, label: 'コメント' %>
      <%= f.input :zip_code, label: '郵便番号' %>
      <%= f.input :address, label: '住所' %>
      <%= f.input(
        :birthday,
        label: '生年月日',
        wrapper: :horizontal_multi_select,
        start_year: 1940,
        end_year: Date.today.year,
        include_blank: true
      ) %>
      <% if @customer.persisted? %>
          <%= f.input :age, label: '年齢', readonly: true %>
      <%end%>
      <%= f.input :card_number, label: 'カルテNo'%>
      <%= f.input(
        :has_registration_card,
        as: :select,
        collection: Settings.has_registration_card,
        default: @customer.has_registration_card,
        label: '診察券発行有無',
        include_blank: true
      ) %>
      <%= f.input :introducer, label: '紹介者' %>
      <%= f.input :children_count, label: 'お子様の数'%>
      <%= f.input(
        :baby_age_id,
        as: :select,
        collection: @baby_ages.map{|item| [item.name, item.id]},
        label: '赤ちゃんの年齢',
        default: @customer.baby_age_id,
        include_blank: true
      ) %>
      <%= f.input(
        :occupation_id,
        as: :select,
        collection: @occupations.map{ |item| [item.name, item.id] },
        label: '職業',
        default: @customer.occupation_id,
        include_blank: true
      ) %>
      <%= f.input(
        :zoomancy_id,
        as: :select,
        collection: @zoomancies.map{|item| [item.name, item.id]},
        label: '動物占い',
        default: @customer.zoomancy_id,
        include_blank: true
      ) %>
      <%= f.input(
        :size_id,
        as: :select,
        collection: @sizes.map{|item| [item.name, item.id]},
        label: 'サイズ',
        default: @customer.size_id,
        include_blank: true
      ) %>
      <%= f.input(
        :provider,
        label: '会員/非会員',
        as: :select,
        hint: '会員にする場合、メールアドレスとパスワードの入力が必須になります',
        collection: { '非会員' => :none, '会員' => :email }
      ) %>
      <% if @customer.provider === 'email' %>
        <%= f.input :uid, label: 'ログインID', hint: '会員の場合、メールアドレスを元に補完されます。', readonly: true %>
      <% end %>
      <%= f.input :fmid, label: 'FMID' %>
      <% if current_staff.role.manager? %>
        <%= f.input :password,
          label: 'パスワード',
          hint: 'パスワードは英字/数字を含む8文字以上にしてください'
        %>
      <% end %>
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to '戻る', customers_path, class: 'btn btn-light' %>
    </div>
  <% end %>
</div>
