<% breadcrumb :root %>
<div id="customer_index">
  <p class="common_title">顧客一覧</p>
  <div class="upper-frame">
    <h4>検索条件入力</h4>
    <div class="condition-section">
      <%= form_with url: search_customers_path, id:"search", method: :post do |f| %>
      <table>
        <tbody>
          <tr>
            <th>氏名</th>
            <td>
              <%=f.text_field :name, { class: "form-control", value: @search_params["name"] } %>
            <td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>
              <%= f.text_field :tel, { class: "form-control", value: @search_params["tel"] } %>
            <td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>
              <%= f.text_field :email, { class: "form-control", value: @search_params["email"] } %>
            <td>
          </tr>
          <tr>
            <th></th>
            <td>
              <%= f.check_box :include_deleted, { checked: @search_params["include_deleted"] == '1' } %> <%= f.label :include_deleted, "未使用の顧客を含めて検索する" %>
            <td>
          </tr>
        </tbody>
      </table>
      <%end%>
    </div>
    <div class="button-section">
      <%=link_to "新規登録へ", new_customer_path, {class: "btn btn-primary btn-new"}%>
      <%=submit_tag "検索実行", {class: "btn btn-info btn-search", form: "search"}%>
    </div>
    <div class="clear"></div>
  </div>
  <div class="pl-2 mt-3">
    <% if @customers.present? %>
      <h5>合計件数：<%= @customers.total_count %>件</h5>
    <% end %>
  </div>
  <div class="lower-frame">
    <% if @customers.blank? %>
      <p>該当データがありません</p>
    <% else %>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">顧客ID</th>
            <th scope="col">FMID</th>
            <th scope="col">氏名</th>
            <th class="address" scope="col">住所</th>
            <th scope="col">TEL</th>
            <th scope="col">Email</th>
            <th scope="col">個性</th>
            <th scope="col">サイズ</th>
            <th scope="col">診察券</th>
            <th scope="col">初回ご来店日</th>
            <th scope="col">使用状況</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer|%>
            <tr>
              <td scope="row"><%= customer.id %></td>
              <td scope="row"><%= customer.fmid %></td>
              <td><%= customer.last_name + customer.first_name %></td>
              <td class="address"><%= customer.address %></td>
              <td><%= customer.tel %></td>
              <td><%= customer.email %></td>
              <td><%= customer.zoomancy.name if customer.zoomancy.present? %></td>
              <td><%= customer.size_name %></td>
              <td><%= customer.has_registration_card == true ? '有' : '無' %></td>
              <td><%= customer.first_visited_at %></td>
              <td><%= customer.is_deleted == true ? '未使用' : '使用中'%></td>
              <td>
                <ul>
                  <li><%= link_to '詳細へ', customer_path(customer.id) %></li>
                  <li><%= link_to '予約登録へ', new_reservation_path(customer_id: customer.id) %></li>
                </ul>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    <% end %>
  </div>
  <%= paginate @customers %>
  <br>
  <br>
</div>
