<% breadcrumb :root %>
<div id="customer_index">
  <h1>顧客一覧</h1>
  <div class="upper-frame">
    <h4>検索条件入力</h4>
    <div class="condition-section">
      <%= form_with url: search_customers_path, id:"search", method: :post do |f| %>
      <table>
        <tbody>
          <tr>
            <th>氏名</th>
            <td>
              <%=f.text_field :name, { class: "form-control", value: @search_params["name"] } %>
            <td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>
              <%= f.text_field :tel, { class: "form-control", value: @search_params["tel"] } %>
            <td>
          </tr>
        </tbody>
      </table>
      <%end%>
    </div>
    <div class="button-section">
      <%=link_to "新規登録へ", new_customer_path, {class: "btn btn-primary btn-new"}%>
      <%=submit_tag "検索実行", {class: "btn btn-info btn-search", form: "search"}%>
    </div>
    <div class="clear"></div>
  </div>
  <div class="lower-frame">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">顧客ID</th>
          <th scope="col">氏名</th>
          <th class="address" scope="col">住所</th>
          <th scope="col">TEL</th>
          <th scope="col">個性</th>
          <th scope="col">サイズ</th>
          <th scope="col">診察券</th>
          <th scope="col">初回ご来店日</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer|%>
        <tr>
          <td scope="row"><%= customer.id %></td>
          <td><%= customer.last_name + customer.first_name %></td>
          <td class="address"><%= customer.address %></td>
          <td><%= customer.tel %></td>
          <td><%= customer.zoomancy.name if customer.zoomancy.present? %></td>
          <td><%= customer.size_name %></td>
          <td><%= customer.has_registration_card == true ? '有' : '無' %></td>
          <td><%= customer.first_visited_at %></td>
          <td><ul>
            <li><%= link_to '詳細へ', customer_path(customer.id) %></li>
            <li><%= link_to '予約登録へ', new_reservation_path(customer_id: customer.id) %></li>
          </ul></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <%= paginate @customers %>
  <br>
  <br>
</div>