<% breadcrumb :root %>
<div id="customer_index">
  <p class="common_title">顧客一覧</p>

  <% if duplicated_customer_alerts.present? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">重複しているユーザーが存在します</h4>
      <% duplicated_customer_alerts.each do |alert| %>
        <li><%= link_to(
          "「#{alert[:message]}」が重複している顧客を確認する",
          customers_duplicate_index_path(columns: alert[:columns])
        ) %></li>
      <% end %>
    </div>
  <% end %>
  
  <div class="upper-frame">
    <h4>検索条件入力</h4>
    <div class="condition-section">
      <%= form_with url: search_customers_path, id:"search", method: :post do |f| %>
      <table>
        <tbody>
          <tr>
            <th>氏名</th>
            <td>
              <%= f.text_field :name, { class: "form-control", value: @search_params["name"] } %>
            <td>
          </tr>
          <tr>
            <th>カナ</th>
            <td>
              <%= f.text_field :kana_name, { class: "form-control", value: @search_params["kana_name"] } %>
            <td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>
              <%= f.text_field :tel, { class: "form-control", value: @search_params["tel"] } %>
            <td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>
              <%= f.text_field :email, { class: "form-control", value: @search_params["email"] } %>
            <td>
          </tr>
          <tr>
            <th></th>
            <td>
              <%= f.check_box :include_deleted, {
                checked: @search_params["include_deleted"] === '1'
              } %>
              <%= f.label :include_deleted, "未使用の顧客を含めて検索する" %>
            <td>
          </tr>
        </tbody>
      </table>
      <%end%>
    </div>
    <div class="button-section">
      <%= link_to "新規登録", new_customer_path, {
        class: "btn btn-primary btn-new"
      } %>
      <%= submit_tag "検索実行", {
        class: "btn btn-info btn-search",
        form: "search"
      } %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="pl-2 mt-3">
    <% if @customers.present? %>
      <h5>合計件数：<%= @customers.total_count %>件</h5>
    <% end %>
  </div>
  <div class="lower-frame">
    <% if @customers.blank? %>
      <p>該当データがありません</p>
    <% else %>
      <%= render 'table', { customers: @customers } %>
     <% end %>
  </div>
  <%= paginate @customers %>
  <br>
  <br>
</div>
