<% breadcrumb :root %>
<h1>基本情報</h1>
<%=render "form"%>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">予約日時</th>
            <th scope="col">来店店舗</th>
            <th scope="col">メニュー</th>
            <th scope="col">担当者</th>
            <th scope="col">売上金額</th>
            <th scope="col">キャンセル有無</th>
        </tr>
    </thead>
    <tbody>
        <% @reservations.each do |reservation|%>
        <tr>
            <td>
                <%=reservation.reservation_date%>&nbsp;
                <%=reservation.start_time.strftime("%H:%M")%>〜<%=reservation.end_time.strftime("%H:%M")%>
            </td>
            <td>
                <% reservation.stores.each_with_index do |store, i| %>
                    <%=store.name%>
                    <% if i != reservation.stores.length %>
                        <br>
                    <% end %>
                <% end %>
            </td>
            <td>
                <% reservation.menus.each_with_index do |menu, i| %>
                    <%=menu.name%>
                    <% if i != reservation.menus.length %>
                        <br>
                    <% end %>
                <% end %>
            </td>
            <td>
                <% reservation.staffs.each_with_index do |staff, i| %>
                    <%=staff.first_name%>&nbsp;<%=staff.last_name%>
                    <% if i != reservation.staffs.length %>
                        <br>
                    <% end %>
                <% end %>
            </td>
            <td><%=number_with_delimiter(reservation.total_fee)%>円</td>
            <td><%= (reservation.deleted_at) ? reservation.deleted_at.strftime("%Y/%m/%d") : "無"%></td>
        </tr>
        <%end%>
    </tbody>
</table>