  <h1>Department一覧</h1>
  <%=link_to "新規登録へ", new_department_path, {class: "btn btn-primary btn-new"}%>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">更新日時</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @departments.each do |department|%>
      <tr>
        <td><%=department.id%></td>
        <td><%=department.name%></td>
        <td><%=department.updated_at.strftime('%Y/%m/%d')%></td>
        <td><%=link_to "詳細へ", department_path(department.id)%></td>
      </tr>
      <%end%>
    </tbody>
  </table>