
<%= simple_form_for(@option) do |f| %>
  <%= render 'application/form_error', errors: @option.errors %>
  <%= f.input :name, label: "オプション名" %>
  <%= f.input :description, label: "オプション説明" %>
  <div class="custom_row row">
    <label class="col-sm-3 col-form-label string required" for="menu_category_ids">
      商品カテゴリ
      <abbr class="req">(必須)</abbr>
    </label>
    <div class="custom_right col-sm-9">
      <%=
        f.collection_check_boxes :menu_category_ids, @menuCategories, :id, :name do |category|
      %>
        <%= category.check_box checked: @option.menu_categories.pluck(:id).include?(category.value) %>
        <%= category.label %>
      <% end %>
    </div>
  </div>
  <%= f.input :fee, label: "料金（税別）" %>
  <%= f.input :start_at, label: "販売開始日" %>
  <%= f.input :end_at, label: "販売終了日" %>
  <%= f.input(
    :department_id,
    as: :select,
    collection: @departments.map{|department| [department.name, department.id]},
    label: "部門",
    default: 0
  ) %>
  <%= f.input(
    :skill_id,
    as: :select,
    collection: @skills.map{|skill| [skill.name, skill.id]},
    label: "スキル",
    default: 0
  ) %>

  <%= f.button :submit, class: 'btn btn-primary'%>
  <% unless @option.nil? || @option.new_record? %>
    <%= link_to '削除', option_path(@option), method: :delete, class: 'btn btn-danger' %>
  <% end %>
  <%= link_to '戻る', options_path, class: 'btn' %>
<% end %>
