<h1>オプション一覧</h1>

<%=link_to "新規登録へ", new_option_path, {class: "btn btn-primary btn-new"}%>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">オプション名</th>
      <th scope="col">オプション説明</th>
      <th scope="col">料金（税別）</th>
      <th scope="col">更新日時</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%=option.id%></td>
        <td><%=option.name%></td>
        <td><%=option.description%></td>
        <td><%=number_with_delimiter(option.fee)%>円</td>
        <td><%=option.updated_at.strftime('%Y/%m/%d')%></td>
        <td><%=link_to "詳細へ", option_path(option.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
