<div class="form-group row select">
  <label class="col-sm-3 col-form-label select" for="reservation_staff_id">
    担当スタッフ
  </label>
  <div class="col-sm-9">
    <div
      id="react_reservation_assignable_staff_select"
      data-disabled="<%= @reservation.new_record? || @reservation.canceled? %>"
      data-hint="<%=
        @reservation.new_record? ? '日時、メニューを元に自動で割当てられます。' : ''
      %>"
      data-selected-staff="<%=
        is_assigned ? @reservation.staff.to_json : ''
      %>"
    ></div>
  </div>
</div>

<%= form.input(
  :store_id,
  collection: @stores,
  label: '予約店舗',
  required: true,
  disabled: is_assigned
) %>

<div class="custom_row row">
  <div class="custom_left col-sm-3">
    <label>予約日</label>
    <abbr>&nbsp;(必須)</abbr>
  </div>
  <div class="custom_right col-sm-9">
    <%= render(
      'react/calender/input',
      id: 'reservation_date',
      name: 'reservation[reservation_date]',
      value: @reservation.reservation_date,
      error_message: get_model_error_message(@reservation, :reservation_date),
      disable_past: true,
      disabled: is_assigned
    ) %>
  </div>
</div>

<%= form.input(
  :start_time,
  collection: Settings.stores.time_options,
  as: :select,
  label: '開始時刻',
  hint: is_assigned ? '担当スタッフを空にすると、日時の変更が可能になります。' : '',
  disabled: is_assigned,
  required: true
) %>

<%= form.input(
  :end_time,
  as: :string,
  label: '終了時刻',
  hint: '登録されたメニューと開始時刻を元に自動で保管されます。',
  include_blank: true,
  readonly: true
) %>

<% @reservation.reservation_details.each.with_index(1) do |detail, index| %>
  <%= form.fields_for :reservation_details, detail, child_index: index do |detail_form| %>
    <%= detail_form.hidden_field :id, value: detail.id %>
    <%= detail_form.input(
      :menu_id,
      collection: Menu.all,
      label: @reservation.reservation_details.count > 1 ? "#{index}時間目のメニュー" : 'メニュー',
      required: index === 1,
      disabled: is_assigned,
      hint: is_assigned ? '担当スタッフを空にすると、メニューとオプションの変更が可能になります。' : ''
    ) %>

    <hr>

    <div class="custom_row row">
      <div class="custom_left col-sm-3">
        <label>オプション</label>
      </div>
      <div class="custom_right col-sm-9">
        <%= detail_form.collection_check_boxes :option_ids, @options, :id, :name do |option| %>
          <%= option.check_box(
                checked: @reservation.option_ids.include?(option.value.to_i),
                disabled: is_assigned
              )
          %>
          <%= option.label %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
