<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">顧客ID</th>
      <th scope="col">氏名</th>
      <th scope="col">Email</th>
      <th scope="col">使用状況</th>
      <th scope="col">メモ</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td scope="row"><%= customer.id %></td>
        <td><%= customer.full_name %></td>
        <td><%= customer.display_email %></td>
        <td><%= customer.is_deleted == true ? '未使用' : '使用中' %></td>
        <td></td>
        <td><%= link_to '統合する', customer_integration_path(id: @customer.id, delete_customer_id: customer.id), method: :put, data: { confirm:  '顧客を統合します。よろしいですか？'}, class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
