<nav class=" navbar navbar-dark navbar-expand <%= bg_color %>">
  <%= link_to 'olive system', home_path, class: 'navbar-brand' %>
  <div class="navbar-collapse">
    <% if staff_signed_in? %> 
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= 
            link_to '予約管理', 
              reservations_path, 
              class: "nav-link active" 
          %>
        </li>
        <li class="nav-item">
          <%= 
            link_to '顧客管理', 
              customers_path, 
              class: "nav-link active" 
          %>
        </li>
        <li class="nav-item">
          <%= link_to 'シフト管理', shifts_path,  class: "nav-link active" %>
        </li>
        <% if current_staff.role.manager? %>
          <li class="nav-item">
            <%= link_to 'スタッフ管理', staffs_path, class: "nav-link active" %>
          </li>
        <% end %>
        <% if current_staff.role.admin? %>
          <li class="nav-item">
            <%= link_to 'マスタ管理', masters_path, class: 'nav-link active' %>
          </li>
        <% end %>
        <li class="nav-item">
          <% if current_staff.role.staff? %>
            <span class="nav-link disabled">
              <%= "ログインユーザー：#{current_staff.full_name}" %>
            </span>
          <% else %>
            <%= link_to(
              "ログインユーザー：#{current_staff.full_name}",
              staff_path(current_staff.id),
              method: :get,
              class: 'nav-link active'
            ) %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= 
            link_to(
              'ログアウト', 
              destroy_staff_session_path, 
              method: :delete,
              class: "nav-link active"
            )
          %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>

<% if notice %>
  <p class="alert alert-info text-center" role="alert">
    <%= notice %>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger text-center" role="alert">
    <%= alert %>
  </p>
<% end %>