<div class="form-wrapper">
  <%= simple_form_for(
    @medical_record,
    url: medical_records_path,
    html: { method: 'post' }
  ) do |f|%>

    <%= render 'customers/snippet', { customer: @medical_record.customer, form: f } %>

    <%= f.input :pain, label: 'おつらい症状・その他メモ' %>
    <%= f.input :current_sickness, label: '現在煩われている病気' %>
    <%= f.input :past_sickness, label: '過去の入院や大きなケガ・病気・症状・時期' %>

    <div class="custom_row row">
      <div class="custom_left col-sm-3">
        <label>希望の治療</label>
      </div>
      <div class="custom_right col-sm-9">
        <%= f.collection_check_boxes :hope_menu_ids, @hope_menus, :id, :name do |hope_menu| %>
          <%= hope_menu.check_box %>
          <%= hope_menu.label %>
        <% end %>
      </div>
    </div>
    <div class="custom_row row">
      <div class="custom_left col-sm-3">
        <label>治療の目的</label>
      </div>
      <div class="custom_right col-sm-9">
        <%= f.collection_check_boxes :treat_goal_ids, @treat_goals, :id, :name do |treat_goal| %>
          <%= treat_goal.check_box %>
          <%= treat_goal.label %>
        <% end %>
      </div>
    </div>
    <div class="custom_row row">
      <div class="custom_left col-sm-3">
        <label>現在通われている病院</label>
      </div>
      <div class="custom_right col-sm-9">
        <%= f.collection_check_boxes :current_hospital_ids, @current_hospitals, :id, :name do |current_hospital| %>
          <%= current_hospital.check_box %>
          <%= current_hospital.label %>
        <% end %>
      </div>
    </div>

    <%= f.input(
      :right_hand,
      as: :radio_buttons,
      wrapper: :horizontal_collection_inline,
      collection: { "右" => true, "左手" => false },
      label: '利き手',
      checked: @medical_record.right_hand
      # include_blank: true
    ) %>
    <%= f.input(
      :pregnancy_id,
      as: :select,
      collection: @pregnancies.map{ |item| [item.name, item.id] },
      label: '妊娠',
      default: @medical_record.pregnancy_id,
      include_blank: true
    ) %>
    <%= f.input(
      :many_posture_id,
      as: :select,
      collection: @many_postures.map{ |item| [item.name, item.id] },
      label: '多い姿勢',
      default: @medical_record.many_posture_id,
      include_blank: true
    ) %>
    <%= f.input(
      :drinking_id,
      as: :select,
      collection: @drinkings.map{ |item| [item.name, item.id] },
      label: '飲酒',
      default: @medical_record.drinking_id,
      include_blank: true
    ) %>
    <%= f.input(
      :cigarette_id,
      as: :select,
      collection: @cigarettes.map{ |item| [item.name, item.id] },
      label: 'タバコ',
      default: @medical_record.cigarette_id,
      include_blank: true
    ) %>
    <%= f.input(
      :massage_id,
      as: :select,
      collection: @massages.map{ |item| [item.name, item.id] },
      label: '整体・マッサージ',
      default: @medical_record.massage_id,
      include_blank: true
    ) %><%= f.input(
      :exercise_id,
      as: :select,
      collection: @exercises.map{ |item| [item.name, item.id] },
      label: '運動',
      default: @medical_record.exercise_id,
      include_blank: true
    ) %>

    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to '戻る', customer_path(@medical_record.customer_id), class: 'btn btn-light' %>
  <% end %>
</div>
