<%= simple_form_for(@reservation) do |f| %>

  <% if @reservation.persisted? %>
    <%= f.input :id, label: 'ID', readonly: true %>
  <% end %>

  <% if @reservation.persisted? %>
    <%= f.input :state, label: '予約状況', readonly: true %>
  <% end %>

  <%= render 'reservations/fields/customer_inputs', form: f, customer: @reservation.customer  %> 

  <%= render 'reservations/fields/assined_inputs', form: f, is_assigned: @reservation.assigned?, exclude_hidden: defined?(exclude_hidden) ? exclude_hidden : '' %>

  <%= f.input :reservation_comment, label: "コメント" %>
  <div class="custom_row row">
    <div class="custom_left col-sm-3">
      <label>回数券</label>
    </div>
    <div class="custom_right col-sm-9">
      <%= f.collection_check_boxes :coupon_ids, @coupons, :id, :name, label: "回数券" %>
    </div>
  </div>
  <%= f.input :children_count, label: "お子様連れ" %>
  <div class="custom_row row">
    <div class="custom_left col-sm-3">
      <label></label>
    </div>
    <div class="custom_right col-sm-9">
      <%= f.input :is_first, label: "初診の場合はチェック" %>
    </div>
  </div>

  <div class="custom_row row">
    <div class="custom_left col-sm-3">
      <label></label>
    </div>
    <div class="custom_right col-sm-9">
      <%= f.input :is_confirmed, label: '確認済み' %>
    </div>
  </div>

  <hr>

  <% if @reservation.persisted? %>
    <%= f.input(
      :created_at_string,
      label: '登録実行日',
      as: :string,
      readonly: true
    ) %>
    <%= f.input(
      :created_by,
      label: '登録実行者',
      wrapper: :horizontal_collection_inline,
      as: :radio_buttons,
      collection: Settings.audit.changed_by,
      disabled: !@reservation.can_update_created_by?,
      hint: @reservation.can_update_created_by? ? '' : 'システムが自動登録したため、変更できません。'
    ) %>
  <% end %>

  <% if @reservation.canceled? %>
    <%= f.input(
      :canceled_by,
      label: 'キャンセル実行者',
      wrapper: :horizontal_collection_inline,
      as: :radio_buttons,
      collection: Settings.audit.changed_by,
      disabled: !@reservation.can_update_canceled_by?,
      hint: @reservation.can_update_canceled_by? ? '' : 'システムが自動登録したため、変更できません。'
    ) %>
  <% end %>

  <div class="rsv_btn">
    <%= f.button :submit, class: 'btn btn-primary'%>
    <%= link_to '戻る', reservations_path, class: 'btn bg-light' %>
  </div>
<% end %>
