<%= simple_form_for(@reservation) do |f| %>

  <% if @reservation.persisted? %>
    <%= f.input :id, label: 'id', readonly: true %>
  <% end %>
  <%= f.input :customer_id, label: '顧客ID', readonly: true %>

  <div class="custom_row row">
    <div class="custom_left col-sm-3">
      <label>顧客名</label>
    </div>
    <div class="custom_right col-sm-9">
      <% if @reservation.customer.present? %>
        <%= f.input(
          :customer_full_name,
          label: false,
          readonly: true,
          input_html: { value: @reservation.customer.full_name },
          hint: link_to('顧客情報の詳細はこちらへ', customer_path(@reservation.customer_id))
        ) %>
      <% end %>
    </div>
  </div>

  <%= f.input :staff_id, collection: @staffs, label: '担当スタッフ', include_blank: true %>
  <%= f.input :store_id, collection: @stores, label: '予約店舗', required: true %>

  <div class="custom_row row">
    <div class="custom_left col-sm-3">
      <label>予約日</label>
    </div>
    <div class="custom_right col-sm-9">
      <%= f.input(
          :reservation_date,
          label: false,
          required: true,
          disabled: @reservation.assigned?,
          hint: @reservation.assigned? ? '担当スタッフを空にすると、日時の変更が可能になります。' : '',
          default: Date.today,
          input_html: { class: 'rsv_day' }
        ) %>
    </div>
  </div>

  <%= f.input(
    :start_time,
    collection: Settings.reservation_at_options,
    label: '開始時刻',
    hint: @reservation.assigned? ? '担当スタッフを空にすると、日時の変更が可能になります。' : '',
    disabled: @reservation.assigned?,
    required: true
  ) %>

  <%= f.input(
    :end_time,
    as: :string,
    label: '終了時刻',
    hint: '登録されたメニューと開始時刻を元に自動で保管されます。',
    include_blank: true,
    readonly: true
  ) %>

  <% @reservation.reservation_details.each.with_index(1) do |detail, index| %>
    <%= f.fields_for :reservation_details, detail, child_index: index do |detail_form| %>
      <%= detail_form.hidden_field :id, value: detail.id %>
      <%= detail_form.input(
        :menu_id,
        collection: Menu.all,
        label: @reservation.reservation_details.count > 1 ? "#{index}時間目のメニュー" : 'メニュー',
        required: index === 1,
        disabled: @reservation.assigned?,
        hint: @reservation.assigned? ? '担当スタッフを空にすると、メニューの変更が可能になります。' : ''
      ) %>

      <hr>

      <div class="custom_row row">
        <div class="custom_left col-sm-3">
          <label></label>
        </div>
        <div class="custom_right col-sm-9">
          <%= detail_form.collection_check_boxes :option_ids, @options, :id, :name %>
        </div>
      </div>
      <%= detail_form.input(
        :mimitsubo_count,
        label: '耳つぼジュエリーの個数',
        collection: mimitsubo_jwery_options
      ) %>
    <% end %>
  <% end %>

  <%= f.input :reservation_comment, label: "コメント" %>
  <div class="custom_row row">
    <div class="custom_left col-sm-3">
      <label>回数券</label>
    </div>
    <div class="custom_right col-sm-9">
      <%= f.collection_check_boxes :coupon_ids, @coupons, :id, :name, label: "回数券" %>
    </div>
  </div>
  <%= f.input :children_count, label: "お子様連れ"%>
  <div class="custom_row row">
    <div class="custom_left col-sm-3">
      <label></label>
    </div>
    <div class="custom_right col-sm-9">
      <%= f.input :is_first, label: "初診の場合はチェック"%>
    </div>
  </div>

  <div class="rsv_btn">
    <%= f.button :submit, class: 'btn btn-primary'%>
    <%= link_to '戻る', reservations_path, class: 'btn bg-light' %>
  </div>
<% end %>
