<%= simple_form_for(@reservation) do |f| %>

  <% if @reservation.persisted? %>
    <%= f.input :id, label: 'id', readonly: true %>
  <% end %>
  <%= f.input :customer_id, label: '顧客ID', readonly: true %>

  <div class="custom_row row">
    <div class="custom_left col-sm-3">
      <label>顧客名</label>
    </div>
    <div class="custom_right col-sm-9">
      <% if @reservation.customer.present? %>
        <%= f.input(
          :customer_full_name,
          label: false,
          readonly: true,
          input_html: { value: @reservation.customer.full_name },
          hint: link_to('顧客情報の詳細はこちらへ', customer_path(@reservation.customer_id))
        ) %>
      <% end %>
    </div>
  </div>

  <%= render 'assined_inputs', form: f, is_assigned: @reservation.assigned? %>

  <%= f.input :reservation_comment, label: "コメント" %>
  <div class="custom_row row">
    <div class="custom_left col-sm-3">
      <label>回数券</label>
    </div>
    <div class="custom_right col-sm-9">
      <%= f.collection_check_boxes :coupon_ids, @coupons, :id, :name, label: "回数券" %>
    </div>
  </div>
  <%= f.input :children_count, label: "お子様連れ"%>
  <div class="custom_row row">
    <div class="custom_left col-sm-3">
      <label></label>
    </div>
    <div class="custom_right col-sm-9">
      <%= f.input :is_first, label: "初診の場合はチェック"%>
    </div>
  </div>

  <div class="custom_row row">
    <div class="custom_left col-sm-3">
      <label></label>
    </div>
    <div class="custom_right col-sm-9">
      <%= f.input :is_confirmed, label: '確認済み' %>
    </div>
  </div>

  <div class="rsv_btn">
    <%= f.button :submit, class: 'btn btn-primary'%>
    <%= link_to '戻る', reservations_path, class: 'btn bg-light' %>
  </div>
<% end %>
