<%# デフォルトでは、顧客名を見せる %>
<div id="reservation-list">
  <% is_shown_customer_name = true if is_shown_customer_name.nil? %>
  <% if @reservations.blank?%>
    <p>該当データがありません</p>
  <% else %>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">予約状況</th>
          <th scope="col" class="reservation-date">予約日時</th>
          <th scope="col" class="visited_store">来店店舗</th>
          <% if is_shown_customer_name %>
            <th scope="col">顧客情報</th>
          <% end %>
          <th scope="col">担当者</th>
          <th scope="col" class="gross-profit">売上金</th>
          <th scope="col" class="gross-profit">初診</th>
          <th scope="col" class="comment">コメント</th>
          <%# TODO: 二時間予約を機能解放する際に、コメントアウトを解く %>
          <%# <th scope="col">時間数</th> %>
          <th scope="col">メニュー</th>
          <th scope="col">オプション</th>
          <th scope="col" class="gross-profit">登録実行者</th>
          <th scope="col">登録実行日時</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <% row_span = reservation.reservation_details.count %>
          <tr>
            <td rowspan="<%= row_span %>"><%= reservation.id %></td>
            <td rowspan="<%= row_span %>">
              <div class="reservation_state reservation_state_<%= reservation.state_symbol.to_s %>">
                <%= reservation.state %>
              </div>
              <% if reservation.state_symbol == :canceled %>
                <% if reservation.canceled_by == 'Staff' %>
                  <% if reservation.canceled_staff.present? %>
                    担:<%= reservation.canceled_staff.full_name %>
                  <% end %>
                <% else %>
                  <%= Settings.audit.changed_by.to_h.key(reservation.canceled_by) %>
                <% end %>
              <% end %>
            </td>
            <td rowspan="<%= row_span %>" class="reservation-date">
              <%= reservation.reservation_date %><br>
              <%= reservation.start_time.strftime("%H:%M") %>〜<%= reservation.end_time.strftime("%H:%M") %>
            </td>
            <td rowspan="<%= row_span %>" class="visited_store"><%= reservation.store.name %></td>
            <% if is_shown_customer_name %>
              <td rowspan="<%= row_span %>">
                <%= reservation.customer.full_name %><br>
                <%= reservation.customer.full_kana %><br>
                <%= reservation.customer.tel %>
              </td>
            <% end %>
            <td rowspan="<%= row_span %>">
              <%= reservation.staff.present? ? reservation.staff.full_name : '' %>
            </td>
            <td rowspan="<%= row_span %>" class="gross-profit">
              <%= number_with_delimiter(reservation.total_fee) %>円
            </td>
            <td
              class="<%= reservation.is_first ? 'first-visit' : '' %>"
              rowspan="<%= row_span %>"
            >
              <%= reservation.is_first ? '初診' : '二回目以降' %>
            </td>
            <td rowspan="<%= row_span %>" class="comment">
              <%= simple_format(reservation.reservation_comment, {}, wrapper_tag: "div") %>
            </td>

          <% reservation.reservation_details.each_with_index do |detail, index| %>
            <% if index > 0 %>
              <tr>
            <% end %>
              <%# <td>¥<%= "#{index + 1}時間目" %¥></td> %>
              <td><%= detail.menu.name %></td>
              <td>
                <%= detail.has_options ? safe_join(detail.option_names, tag(:br)) : '無' %>
              </td>
              </td>
              <td rowspan="<%= row_span %>">
                <div>
                  <%= Settings.audit.changed_by.to_h.key(reservation.created_by) %>
                </div>
                <% if reservation.created_by == 'Staff' && reservation.created_staff.present? %>
                  担:<%= reservation.created_staff.full_name %>
                <% end %>
              </td>
              <td rowspan="<%= row_span %>">
                <%= reservation.created_at.strftime('%Y-%m-%d %H:%M') %>
              </td>
              <% if index === 0 %>
                <td rowspan="<%= row_span %>">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= link_to "詳細へ", reservation_path(reservation.id) %></li>
                  </ul>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<br>
