  <div id="reservation_index">
    <p class="common_title">予約一覧</p>
    <div class="upper-frame">
      <%= render 'search' %>
    </div>

    <div class="customer-details">
      <div>予約の新規登録は顧客の詳細画面から実行可能です</div>
      <ul>
        <li><%= link_to '新規顧客を登録して、予約登録する', new_customer_path %></li>
        <li><%= link_to '既存顧客を検索して、予約登録する', customers_path %></li>
      </ul>
    </div>
    <div class="pl-2 mt-3">
      <% if @reservations.present? %>
        <h5>合計件数：<%= @reservations.total_count %>件</h5>
      <% end %>
    </div>
    <div class="lower-frame">
      <%= render 'list' %>
    </div>

    <%= paginate @reservations %>
  </div>
