<h1>シフト一覧</h1>


<%= form_tag(:shifts, method: 'get') do |form| %>
  <div class="field">
    <%= date_select :search_month, :by, discard_day: true %>
  </div>
  <div class="field">
    <% storeSelects = options_from_collection_for_select(Store.all, :id, :name) %>
    <%= select_tag :store_id, storeSelects %>
  </div>
  <div class="field">
    <% staffSelects = options_from_collection_for_select(Staff.all, :id, :name) %>
    <%= select_tag :staff_id, staffSelects %>
  </div>
  <div class="actions">
    <%= submit_tag "検索" %>
  </div>
<% end %>


<%= form_tag('/shifts/register', method: 'post') do |form| %>
    <table>
      <thead>
        <tr>
          <th>日付</th>
          <% Shift.slot_time_labels.each do |key, value| %>
            <th><%= key %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <%
          start_date, end_date = Shift.get_month_range(@month)
          ((start_date)..(end_date)).each do |date|
        %>
          <tr>
            <td><%= date %></td>
            <% Shift.get_time_slots(date).each do |shift_time| %>
              <% if @date_shifts.has_key?(date) %>
                <td><%= check_box("shifts", shift_time, {
                  checked: @date_shifts[date].any? { |shift|
                    shift.shift_at === shift_time.strftime('%Y%m%d%H%M')
                  }
                }) %></td>
              <% else %>
                <td><%= check_box("shifts", shift_time, {
                  checked: false
                }) %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= hidden_field_tag('target_staff_id', @staff_id) %>
    <input type="submit" name="commit" value="登録" data-disable-with="登録">
<% end %>

<br>
