<h1>シフト一覧</h1>


<%= form_tag(:shifts, method: 'get') do |form| %>
  <div class="field">
    <%= date_select :search_month, :by, discard_day: true %>
  </div>
  <div class="field">
    <% storeSelects = options_from_collection_for_select(Store.all, :id, :name) %>
    <%= select_tag :store_id, storeSelects %>
  </div>
  <div class="field">
    <% staffSelects = options_from_collection_for_select(Staff.all, :id, :name) %>
    <%= select_tag :staff_id, staffSelects %>
  </div>
  <div class="actions">
    <%= submit_tag "検索" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>10～11</th>
      <th>11～12</th>
      <th>12～13</th>
      <th>13～14</th>
      <th>14～15</th>
      <th>15～16</th>
      <th>16～17</th>
      <th>17～18</th>
      <th>18～19</th>
      <th>19～20</th>
    </tr>
  </thead>

  <tbody>
    <% 
      start_date, end_date = Shift.get_month_range(@month)
      ((start_date)..(end_date)).each do |date|
    %>
      <tr>
        <td><%= date %></td>
        <% Shift.get_time_slots(date).each do |shift_time| %>
          <% if @date_shifts.has_key?(date) %>
            <td><%= check_box("shifts[#{date}]", shift_time, { 
              checked: @date_shifts[date].any? { |shift|  
                shift.shift_at === shift_time.strftime('%Y%m%d%H') 
              }
            }) %></td>
          <% else %>
            <td><%= check_box("shifts[#{date}]", shift_time, { 
              checked: false
            }) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
