<h1>店舗一覧</h1>
<div id="store_index">
  <div class="upper-frame">
    <h4>検索条件入力</h4>
    <div class="condition-section">
      <%= form_with url: search_stores_path, id:"search", method: :post do |form| %>
        <table>
          <tbody>
            <tr>
              <th>店舗名</th>
              <td>
                <%= text_field_tag :store_name, @store_name.present? ? @store_name : "" ,{class: "form-control"}%>
              </td>
            </tr>
          </tbody>
        </table>
      <%end%>
    </div>
    <div class="button-section">
      <%=link_to "新規登録へ", new_store_path, {class: "btn btn-primary btn-new"}%>
      <%=submit_tag "検索実行", {class: "btn btn-info btn-search", form: "search"}%>
    </div>
    <div class="clear"></div>
  </div>
  <div class="lower-frame">
    <% if @stores.blank? %>
      <p>該当データがありません</p>
    <% else %>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">id</th>
            <th scope="col">店舗区分</th>
            <th scope="col">店舗名</th>
            <th scope="col">略称</th>
            <th scope="col">店舗住所</th>
            <th scope="col">店舗リンク</th>
            <th scope="col">予約URL</th>
            <th scope="col">更新日時</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @stores.each do |store|%>
            <tr>
              <td><%= store.id %></td>
              <td><%= store.store_type_label %></td>
              <td><%= store.name%></td>
              <td><%= store.short_name %></td>
              <td><%= store.address%></td>
              <td><%= link_to "ホームページへ", store.url %></td>
              <td><%= link_to "予約ページへ", store.reserve_url %></td>
              <td><%= store.updated_at.strftime('%Y/%m/%d') %></td>
              <td><%= link_to "詳細へ", store_path(store.id) %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
