<% breadcrumb :root %>
<h1>ダッシュボード</h1>

<ul>
  <li><%= link_to "Store", stores_path %></li>
  <li><%= link_to "Skill", skills_path %></li>
  <li><%= link_to "Role", roles_path %></li>
  <li><%= link_to "Menu", menus_path %></li>
  <li><%= link_to "MenuCategory", menu_categories_path %></li>
  <li><%= link_to "Option", options_path %></li>
  <li><%= link_to "Coupon", coupons_path %></li>
  <li><%= link_to "CouponHistory", coupon_histories_path %></li>
  <li><%= link_to "Department", departments_path %></li>
</ul>