<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>olive-admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'header' %>
    <p><%= breadcrumbs separator: " &rsaquo;" %></p>
    <div class="container-fluid">
      <%= yield %>
      <%= params_debug %>
    </div>
  </body>
  <%=
    # webpackのビルド結果の読み込み
    ## DOMのレンダリング後に実施しなければ、エラーになるため、末尾に配置している
    bundle_js_path
  %>
</html>
