<div id="react_<%= id %>"></div>
<input
    id="react_<%= id %>_value"
    type="hidden"
    name="<%= name %>"
    value="<%= value %>"
    data-disable-future="<%=
        defined?(disable_future) && disable_future ? 'true' : 'false'
    %>"
    data-disable-past="<%=
        defined?(disable_past) && disable_past ? 'true' : 'false'
    %>"
    data-error="<%= error_message %>"
    data-select-birth-day="<%=
        defined?(doSelectBirthDay) && doSelectBirthDay ? 'true' : 'false'
    %>"
    data-clearable="<%=
        defined?(clearable) && clearable ? 'true' : 'false'
    %>"
    <%= defined?(disabled) && disabled ? 'disabled' : '' %>
>
