<% breadcrumb :root %>
<div class="upper-frame">
  <p class="common_title">マスタ管理</p>
</div>
<div class="lower-frame">
  <ul>
    <li><%= link_to "店舗マスタ", stores_path %></li>
    <li><%= link_to "スキルマスタ", skills_path %></li>
    <li><%= link_to "権限マスタ", roles_path %></li>
    <li><%= link_to "メニューマスタ", menus_path %></li>
    <li><%= link_to "オプションマスタ", options_path %></li>
    <li><%= link_to "クーポンマスタ", coupons_path %></li>
    <%# link_to "メニューカテゴリマスタ", menu_categories_path %>
    <%# link_to "部門マスタ", departments_path %>
    <%# link_to "CouponHistory", coupon_histories_path %>
  </ul>
</div>
