  <h1>スキル一覧</h1>
  <%=link_to "新規登録へ", new_skill_path, {class: "btn btn-primary btn-new"}%>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">更新日時</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @skills.each do |skill|%>
      <tr>
        <td><%=skill.id%></td>
        <td><%=skill.name%></td>
        <td><%=skill.updated_at.strftime('%Y/%m/%d')%></td>
        <td><%=link_to "詳細へ", skill_path(skill.id)%></td>
      </tr>
      <%end%>
    </tbody>
  </table>